/* Center align the form both horizontally and vertically
Set the minimum height of this element*/
.errorResponse{
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin: auto;
    min-height: 650px;
}
