/* Add space to the top and left of the submit button
Set the width of submit button */
.submitButton {
	margin-top: 10px;
	margin-left: 45%;
	width: 150px;
}

.formContainer {
	margin: 1rem 10vw;
}

.copyToClipboard {
	display: inline-flex;
	align-items: center;
	padding: 0 0 0 0.5rem;
	width: fit-content;
	font-size: smaller;
	background-color: rgb(223, 221, 221);
	border-radius: 3px;
}
