.comparisonContainer {
	margin: 0.5rem 0;
}

.blueFont {
	text-transform: lowercase;
	font-family: "Roboto", sans-serif;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 1rem;
	margin-right: 0.25rem;
	letter-spacing: 0.05em;
	color: #1890ff;
}
