.footerContent {
    margin-left: 25%;
    font-size: 16px;
    color: #777;
}

.Link {
    color : #006a30;
}

.UAlogo{
    margin-left: 15%;
    margin-bottom: 5%;
}

.AmiiLogo{
    margin-left: 5%;
    margin-bottom: 5%;
}