.footerContent {
    margin-left: 25%;
    font-size: 16px;
    color: #777;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.Link {
    color : #006a30;
}

.UAlogo{
    margin-left: 15%;
    margin-bottom: 5%;
}

.AmiiLogo{
    margin-left: 5%;
    margin-bottom: 5%;
}