.gameWindow{
    height: 605px;
    width : 705px;
    border : solid #1890ff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Loader{
    font-size: 18px;
}

.gameContent{
    border-radius: 10px;
}

.modal {
    font-size: 16px;
    color: #777;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}