.gameWindow{
    height: 605px;
    width : 705px;
    border : solid #1890ff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Loader{
    font-size: 18px;
}

.gameContent{
    border-radius: 10px;
}

.controlPanel{
    border: solid;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.panelContainer{
    border : none;
    margin-top: 10px;
}

.resetButton{
    background-color: #52c41a;
    color: white;
    border-color: #52c41a;
}

.resetButton:hover{
    background-color: #73d13d;
    border-color: #73d13d;
}

.onlineButton{
    background-color: #faad14;
    color : white;
    border-color: #faad14;   
}

.onlineButton:hover{
    background-color: #ffc53d;
    border-color:#ffc53d;
}

.offlineButton{
    background-color: #13c2c2;
    color : white;
    border-color: #13c2c2;
}

.offlineButton:hover{
    background-color: #36cfc9;
    border-color: #36cfc9;

}

.goodButton{
    background-color: #fadb14;
    color : white;
    border-color: #fadb14;
}

.goodButton:hover{
    background-color: #ffec3d;
    border-color: #ffec3d;
}

.badButton{
    background-color: #a0d911;
    color : white;
    border-color: #a0d911;
}

.badButton:hover{
    background-color: #bae637;
    border-color: #bae637;
}

.fpsInput{
    width: 100px;
}