.gameWindow{
    height: 605px;
    width : 705px;
    border : solid #1890ff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Loader{
    font-size: 18px;
}

.gameContent{
    border-radius: 10px;
}