.gameWindowCenter{
    height: 605px;
    width : 705px;
    border : solid #1890ff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.gameWindow{
    height: 605px;
    width : 705px;
    border : solid #1890ff;
    border-radius: 10px;
}

.progressBarCenter{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: auto;
}

.progressBar{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-top: 35%;
}

.promptText {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    color: #1890ff;
    font-size : 16px;
}

.gameContent{
    border-radius: 10px;
}