
.webcam {
	position: relative;
	overflow: hidden;
	align-self: flex-start;
	border-radius: 10px;
	/* padding-left: 20px; */
	display: flex;
	flex-direction: column;
}

.webcamButton{
	position: absolute;
	right: 10px;
	bottom: 10px;
}
