/* Center align the form both horizontally and vertically with extra margin*/
.forumContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right : 5%;
    min-height: 650px;
}

/* Set the font size of loader to 18px */
.Loader {
    font-size: 18px;
}