/* Set the height and width 
   Set the style of the border */
.messageContainer {
	height: 600px;
	overflow: auto;
	border: solid #389e0d;
	border-radius: 10px;
}

/* Center the message title and make it bold */
.messageTitle {
	text-align: center;
	font-weight: bold;
}
